<div class="post-image-name-box">
  <% if @tweetpost.user.picture.blank? %>
    <img src="http://placehold.jp/24/cccccc/ffffff/30x30.png?text=user_image" class="post_user-image">
  <% else %>
    <%= image_tag @tweetpost.user.picture.url, size: 30, class: "post-user-image" %>
  <% end %>
  <%= link_to @tweetpost.user.name, user_path(@tweetpost.user_id) %>
</div>
<span class="post-tweetpost-image"><%= image_tag @tweetpost.picture.url if @tweetpost.picture? %></span>
<span class="post-tweetpost-text"><%= simple_format(@tweetpost.content) %></span>

<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>  
<% if logged_in? %>
  <%= render partial: 'comments/form', locals: { comment: @comment, tweetpost: @tweetpost } %>
<% end %>