<%= render 'shared/header' %>
<div class="container">
  <div class="profile-edit-box">
    <div class="row">
      <div class="col-md-3 edit-sidebar">
        <nav class="nav flex-column">
          <a class="nav-link "><%= link_to "プロフィール編集", edit_user_path(current_user), class:"edit-sidebar-link" %></a>
          <a class="nav-link "><%= link_to "パスワード変更", edit_password_user_path(current_user), class:"edit-sidebar-link" %></a>
        </nav>
      </div>
      <div class="col-md-8 edit-main">
        <%= form_for(@user) do |f| %>

          <div class="edit-profile-image-box">
            <span class="label-profile-image"><%= f.label :プロフィール画像 %></span>
            <div class="edit-image-box">
              <% if @user.picture.blank? %>
                <%= link_to image_tag("212_0.jpeg", alt:"logoマーク", class:"edit-user-image1") %>
              <% else %>
                <%= image_tag @user.picture.url, class:"edit-user-image2" %>
              <% end %>
              
            </div>
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class:"edit-file-upload" %>
          </div>

          <div class="edit-profile-name">
            <div class="edit-name-else-error">
              <span class="label-profile-name"><%= f.label :ユーザー名 %></span>
              <%= f.text_field :name, class:"form-control edit-form-name" %>
            </div>
            <%= render "shared/name_error_messages" %>
          </div>

          <div class="edit-profile-email">
            <div class="edit-email-else-error">
              <span class="label-profile-email"><%= f.label :メールアドレス %></span>
              <%= f.email_field :email, class:"form-control edit-form-email" %>
            </div>
            <%= render "shared/email_error_messages" %>
          </div>

          <div class="edit-profile-intro">
            <div class="edit-intro-else-error">
              <span class="label-profile-intro"><%= f.label :自己紹介 %></span>
              <%= f.text_area :profile,　placeholder: "自己紹介を入力しましょう！（400文字以内）", class:"form-control edit-form-intro", rows: 10, cols: 40 %>
            </div>
          </div>
          <%= f.submit "この内容で保存", class:"btn btn-primary edit-btn" %>
        <% end %>

        <script type="text/javascript">
          $('#micropost_picture').bind('change', function() {
            var size_in_megabytes = this.files[0].size/1024/1024;
            if (size_in_megabytes > 5) {
              alert('Maximum file size is 5MB. Please choose a smaller file.');
            }
          });
        </script>
  </div>
 </div>
 </div>
</div>
