<%= render 'shared/header' %>
<div class="container">
  <div class="profile-edit-box">
    <div class="row">
      <div class="col-md-3 edit-sidebar">
        <nav class="nav flex-column">
          <a class="nav-link "><%= link_to "プロフィール編集", edit_user_path(current_user), class:"edit-sidebar-link" %></a>
          <a class="nav-link "><%= link_to "パスワード変更", edit_password_user_path(current_user), class:"edit-sidebar-link" %></a>
        </nav>
      </div>
      <div class="col-md-8 edit-password">
        <%= form_for(@user) do |f| %>
        <div class="edit-password-new-box">
          <div class="edit-new-else-error">
            <span class="label-password-new"><%= f.label :新しいパスワード%></span>
            <%= f.password_field :password, class:"form-control password-form-new" %>
          </div>
          <%= render "shared/password_error_messages" %>
        </div>

        <div class="edit-password-conf-box">
          <div class="edit-conf-else-error">
            <span class="label-password-conf"><%= f.label :password_confirmation_change %></span>
            <%= f.password_field :password_confirmation, class:"form-control password-form-conf" %>
          </div>
          <%= render "shared/password_confirmation_error_messages" %>
        </div>

          <%= f.submit "変更する", class:"btn btn-primary btn-password" %>

        <% end %>
      </div>
    </div>
  </div>
</div>