<% if logged_in? %>

  <header>
    <div class="container">
    <div class="row">
      <div class="col-4 col-md-4 teddylogo"><%= link_to  "logo", root_path %></div>
      <div class="col-8 col-md-8">
        <ul>
          <li>検索</li>
          <li>通知</li>
          <li><%= link_to "ユーザー画像", user_path(current_user) %></li>
          <li><%= link_to "編集", edit_user_path(current_user) %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    </div>
  </header>

<main>
  <article>
    <div class="container postpage">
      <div class="float-clear">
        <div class="float-box">
          <img src="http://placehold.jp/24/cccccc/ffffff/40x40.png?text=user_image" class="post_userimage">
        </div>
          <div class="row"> 
  <div class="col-4 col-md-4">
   <section>
    <%= current_user.name %><br>
    <%= current_user.email %><br>
    <%= render 'shared/follow_count' %>
    <%= render 'shared/tweet_form' %>
   </section>
  </div>
  <div class="col-8 col-md-8">
   <section>
    <p>すべての投稿</p>
    <%= render 'shared/feed' %>
   </section>
  </div>
      <%= link_to  "続きをよむ", "#" %><br>
    </div>
  </article>
</main>

<% else %>

  
  <header>
    <div class="container">
    <div class="row">
      <div class="col-4 col-md-4 teddylogo"><%= link_to  "logo", root_path %></div>
      <div class="col-8 col-md-8">
        <ul>
          <li><%= link_to "ログインする", login_path %></li>
        </ul>
      </div>
    </div>
    </div>
  </header>

  

<% end %>