<% if logged_in? %>
<div class="row"> 
  <div class="col-4 col-md-4">
   <section>
    <%= current_user.name %><br>
    <%= current_user.email %><br>
    <%= render 'shared/tweet_form' %>
   </section>
  </div>
  <div class="col-8 col-md-8">
   <section>
    <p>すべての投稿</p>
    <%= render 'shared/feed' %>
   </section>
  </div>

</div>
 
 <% else %>
 <%= link_to "ログイン", login_path %>

 <% end %>