<head>
  <title>STUNI</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="users.scss" />
</head>
<main>
  <%= render 'shared/header' %>
    <div class="show-container">
      <div class="show-user-image-box">
        <% if @user.picture.blank? %>
          <%= link_to image_tag("212_0.jpeg", alt:"logoマーク", class:"show-user-image1") %>
        <% else %>
          <%= image_tag @user.picture.url, class:"show-user-image2" %>
        <% end %>
      </div>
      <div class="show-userprofile-box">
        <div class="name-follow-edit-box">
          <span class="show-user-name"><%= user_name(@user) %></span>
          <%# ログインユーザーidとプロフ画面のユーザーidが一致すれば編集ボタンを表示。　一致しない場合かつログイン中の場合フォローボタン表示%>
          <% if logged_in? %>
            <% if current_user.id == @user.id %>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle dropdown-self" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to "編集", edit_user_path(current_user), class:"show-edit dropdown-item" %>
                  <%= link_to "ログアウト", logout_path, method: :delete, class:"show-edit dropdown-item" %>
                </div>
              </div>
            <% else %>
              <%= render 'follow_form' if logged_in? %>
            <% end %>
          <% else %>          
            <%= link_to "フォローする", login_path, class: "btn btn-primary btn-follow" %>
          <% end %>
          
        </div>
        <div class="count-box">
          <ul>
            <li>投稿<span class="post-strong"><%= @user.tweetposts.count %></span>件</li>
            <li><%= render 'shared/follow_count' %></li>
          </ul>
        </div>
        <%# ユーザープロフィール表示の条件分岐 %>
        <div class="show-profile-box">
          <% if @user.profile.blank? %>
            <% if current_user?(@user) %> 
              <p><%= link_to "自分のプロフィールを更新してみましょう", edit_user_path(current_user) %></p>
            <% else %>
              <p><%= "#{@user.name}さんのプロフィールにはまだ何も書かれていません" %></p>
            <% end %>
          <% else %>
            <p ><%= simple_format(@user.profile) %> </p>
          <% end %>
        </div>
      </div>
    </div>
 

  <% if @user.tweetposts.any? %>
  <div class="show-float-clear">
    <ol>
      <%= render @tweetposts, showpage: true %>
    </ol>
  </div>
    <div class="show-pagination">
      <%= will_paginate @tweetposts,  :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    </div>
  <% end %>
  
</main>

