<% if logged_in? %>
  <header>
    <div class="container">
    <div class="row">
      <div class="col-4 col-md-4 teddylogo"><%= link_to  "logo", root_path %></div>
      <div class="col-8 col-md-8">
        <ul>
          <li><%= link_to "マイページ", user_path(current_user) %></li>
          <li><%= link_to "検索する", search_tweetpost_path %></li>
          <li><%= link_to "投稿する", new_tweetpost_path %></li>
          <li><%= link_to "ユーザー編集", edit_user_path(current_user) %></li>
          <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        </ul>
      </div>
    </div>
    </div>
  </header>
<% else %>
  <header>
    <div class="container">
    <div class="row">
      <div class="col-4 col-md-4 teddylogo"><%= link_to  "logo", root_path %></div>
      <div class="col-8 col-md-8">
        <ul>
          <li><%= link_to "ログインする", login_path %></li>
          <li>全ユーザーの投稿をみる</li>
        </ul>
      </div>
    </div>
    </div>
  </header>
<% end %>
