<% if logged_in? %>
  <header>
    <div class="header-container">
        <ul>
          <li>
            <%= link_to image_tag("P_Tx7ZkSygyAMwL1542268159_1542268190", alt:"logoマーク", class:"logo-stuni"), root_path %>
          </li>
          <li>
            <%= link_to search_tweetpost_path, class:"link-clear header-icon1", method: :get do %>
              <i class="fas fa-search"></i>
            <% end %>
          </li>
          <li>
            <%= link_to user_path(current_user), class:"link-clear header-icon2", method: :get do %>
              <i class="fas fa-paw"></i>
            <% end %>
          </li>
          
        </ul>
    </div>
  </header>
<% else %>
  <header>
    <div class="container">
    <div class="row">
      <div class="col-4 col-md-4 teddylogo"><%= link_to  "logo", root_path %></div>
      <div class="col-8 col-md-8">
        <ul>
          <li><%= link_to "ログインする", login_path %></li>
          <li>全ユーザーの投稿をみる</li>
        </ul>
      </div>
    </div>
    </div>
  </header>
<% end %>
